<div class="container">
<div class="col-md-6">
<%= form_for :blog,:html => {:multipart => true}, url: blogs_path do |f| %>
 <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog.errors.count, "error") %> prohibited
        this blog from being saved:
      </h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => 'form-group' %>
  </div>
  
  <div class="panel-heading head-border">
  	<%= f.label :discription %><br />
  	<%= f.text_area :discription, :class => "tinymce", :rows => 5, :cols => 2 %>
  </div>

  <div class="form-group">
  	<%= f.label :image %><br />
  	<%= f.file_field :image, :class => 'form-group' %>
  </div>

  <div>
    <%= f.label :youtube_url %><br />
    <%= f.text_field :youtube_url, :class => 'form-group' %>
  </div>

  <div><%= f.submit "submit" %></div>  
  <% end %>
  </div>
  </div>

  <script type="text/javascript">
  tinyMCE.init({
    selector: '#blog_discription',
   
      force_br_newlines : false,
      force_p_newlines : false,
      forced_root_block : '',
  });
  
</script>

