<h1 class="panel-heading">Blog</h1>
<%= link_to "New Blog", new_blog_path, :class => "btn btn-info" %>
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Discription</th>
    <th colspan=6></th>
  </tr>
    <% @blogs.each do |blog| %>
    <tr>
  	<td><%= blog.title %></td>
  	<td><%= blog.discription %></td>
    <td><%= link_to 'Show', blog_path(blog), :class=> 'btn btn-success' %>
    </td>
    <td><%= link_to 'Edit', edit_blog_path(blog), :class => 'btn btn-info' %></td>
    <td><%= link_to 'Delete', blog_path(blog), method: :delete,data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td> 
  </tr>
  <% end %>
  </table>