<h1>Blog</h1>
<%= link_to "New Blog", new_blog_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Discription</th>
    <th>Image</th>
  </tr>
  <% @blogs.each do |blog| %>
  <tr>
  	<td><%= blog.title %></td>
  	<td><%= blog.discription %></td>
  	<td><%= blog.image_url.to_s %></td>
  	<td><%= link_to 'Show', blog_path(blog) %></td>
  </tr>
  <% end %>
  </table>