<div class = "container">
<section>
  <div class="panel panel-primary">
    <div class="panel-body">
    	<div class="row invoice-list">
        <div class="col-lg-4 col-sm-4">
					<div class="col-lg-4 col-sm-4">
						<strong>Title:</strong>
						<%= @blog.title %>
						<strong>Discription:</strong>
						<%= @blog.discription %>
						<strong>Image:</strong><br />
						<%#= image_tag @blog.image_url.to_s,:size => "180x180" %>
						<% @post_attachments.each do |p| %>
  						<%= image_tag p.avatar_url, :size => "180x180" %>
  						<%= link_to 'New Post attachment', new_post_attachment_path %>
  						<%= link_to "Update Image", edit_post_attachment_path(p) %>
						<% end %>
						<strong>youtube_url:</strong><br /> 
						<%= embed(@blog.youtube_url) rescue 0 %>
						<div id="blog_comments">
							<%= render 'comments/comment' %>
						</div>
						<%= render "comments/form" %>
						<%= link_to "Back", blogs_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 