<div>
  <strong>Title:</strong>
  <%= @blog.title %>
</div>
<div>
	<strong>Discription:</strong>
	<%= @blog.discription %>
</div>
<div>
	<strong>Image:</strong><br />
 	<%= image_tag @blog.image_url.to_s %>
</div>
<div>
	<strong>youtube_url:</strong><br /> 
	<%= embed(@blog.youtube_url) rescue 0 %>
</div>
<div id="blog_comments">
	<%= render 'comments/comment' %>
</div>
	
<%= render "comments/form" %>
<%= link_to "Back", blogs_path %>
 