<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "customjsFile", "data-turbolinks-track" => true  %>

  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="collection">
      <div class="navbar-header">
      <a class="navbar-brand" href="#">BLogApp</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
        <li>
        <% if user_signed_in? %>
        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li>
        <%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>
<% if user_signed_in? %>
<div>Signed in as... <%= current_user.email %></div>
  
<% end %>
</body>
</html>
